body{
    display: flex;
    flex-direction: row;
}
.selecionado{
    background-color: crimson !important;
    
}
.caixa1{
    display: flex;
    background-color: cyan;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 35vw;
    height:90vh;
}
.liguagem{
    width: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
   
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
}
.liguagem:hover{
    background-color: cornflowerblue;
}
.but{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button{
    background-color: aqua;
    width: 100px; 
    height: 20px;
    margin: 10px;
}
.caixa2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(178, 100%, 50%);
    justify-content: center;
    border: 1px solid black;
    width: 35vw;
    height: 90vh;
}