*{
    margin: 0;
}
#box_array{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding:12px 5px ;
    width: 100vw;
    height:3vh;
    background-color: #66a4ea;
    border: 4px solid  #001d8f ;
}
#box_pesquisar{
    display: flex;
    height: 10vh;
    width: 100vw;
    padding: 6px;
    border-radius: 10px;
    border:  4px solid #006400 ;
    background-color: #b4d1b4;
    flex-direction: column;
    margin-top: 3px;
}
#box_resultado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 100vw;
    height:3vh;
    background-color: #daf015;
    border: 4px solid  #ffc400 ;
}

#btnPesquisar{
    width: 15vw;
    height: 5vh;
    margin-top: 10px;
    border-radius:25px;
    background-color: #006400;
    color: white;
}
.box_azul{
    display: flex;
    justify-content: center;
}
