*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 15vw;
    height: 100px;
    background-color: #d3dbe1;
}

#p_top{
    background-color: #0e65fb;
    width: 100%;
    text-align: center;
    align-items: center;
}

#p_botton{
    background-color: #6ababa;
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}
#btn_div{
    padding:3px;
    background-color: #0e65fb;
    border: 1px solid #0e65fb;
    border-radius: 5px;
}