.box{
    display: flex;
    justify-content: center;
    align-items:  center;
    font-size:20px;
    font-weight: 900;
    width: 200px;
    height: 30px;
    border: solid 3px #000;
    background-color: aliceblue;
}